// color-button
$color-white: rgba(255, 255, 255, 1);
$color-violet: rgba(156, 105, 226, 1);
$color-middle-violet: rgba(138, 64, 238, 1);
$color-pink: rgba(240, 99, 184, 1);
$color-middle-pink: rgba(235, 75, 171, 1);

// color-text
$color-main: rgba(75, 93, 104, 1);
$color-heading: rgba(33, 35, 83, 1);

// color-icon

$colors-pink-instagram: rgba(193, 53, 132, 1);
$colors-blue-twitter: rgba(0, 172, 238, 1);
$colors-blue-facebook: rgba(59, 89, 152, 1);

// family-fonts
$font-main: "Montserrat", sans-serif;
$font-headings: "Work Sans", sans-serif;
